.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
/gradle/
gradlew
gradlew.bat
*.log
/target/*
*.csv

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
